.single
  .single__header
    = image_tag "logo.png"
  .single__main--form
    %h2.hed 会員情報入力
    .single__main--center
      = form_for(@user, :builder => FormHelper::FormWithErrorMessageBuilder, url: user_registration_path) do |f|
        = render "devise/shared/error_messages", resource: @user
        .filed__contents
          .field
            = f.label :nickname
            %span 必須 
            %br/
            = f.text_field :nickname, :placeholder => "例)オーノー...ようこ"
          .fieldpost_params
            = f.label :email
            %span 必須 
            %br/
            = f.text_field :email, autofocus: true, :placeholder => "PC・携帯どちらでも可"
          .field
            = f.label :password
            %span 必須 
            %br/
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            %span 必須 
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          %h2 本人確認
          %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .field__firstname
            = f.label :name
            %span 必須 
            %br/
            = f.text_field :last_name, autofocus: true, :placeholder => "例)小菅", :size => "10"
            = f.text_field :first_name, autofocus: true, :placeholder => "例)圭介", :size => "10" 
          .field__secondname
            = f.label :name_kana
            %span 必須 
            %br/
            = f.text_field :last_name_kana, autofocus: true, :placeholder => "例)シロイシ", :size => "10"
            = f.text_field :first_name_kana, autofocus: true, :placeholder => "例)トシナリ", :size => "10"
          .field__number
            = f.label :phone_number
            %span 必須 
            %br/
            = f.telephone_field	 :phone_number, autofocus: true, :placeholder => "-は入れないで下さい"
          .field
            = f.label :birthday
            %span 必須 
            %br/
            = f.text_field :birthday, :placeholder => "例) 2020/04/12"
          .actions
            = f.submit "次へ進む"
  .foter

