.single
  .single__header
    %img{ src: "/images/logo.png"}
  = form_for @address, :builder => FormHelper::FormWithErrorMessageBuilder, url: addresses_path, method: :post, html: {class: 'first-main__box'} do |f|
  
    .text
      %h2.hed 会員情報入力
      .text__main--center
        .text__contents
          .field
            = f.label :postal_code, "郵便番号"
            %br
            = f.text_field :postal_code, :placeholder => "464-9999"
            %br
            = f.label :prefectures, "都道府県"
            %br
            = f.select :prefectures, User.prefectures.keys, {prompt: '選択してください'}, class: 'prefecture'
            %br
            = f.label :municipality, "市区町村"
            %br
            = f.text_field :municipality, :placeholder => "例南アルプス市天然水"
            %br
            = f.label :house_number, "番地"
            %br
            = f.text_field :house_number, :placeholder => "1-2-3"
            %br
            = f.label :building, "建物名"
            %br
            = f.text_field :building, :placeholder => "東京タワー"
          .actions
            = f.submit "次に進む"
    .foter
