= render 'items/header'
.mypagetop
  = render 'users/side'
  .mypagetop__cardshow
    %h1 登録クレジットカード情報
    -# %h3 クレジットカードの登録が完了しました
    .mypagetop__cardshow__wrapper
      .mypagetop__cardshow__wrapper__title
        カード番号
      .mypagetop__cardshow__wrapper__number
        = "**** **** **** " + @default_credit_card_information.last4
    .mypagetop__cardshow__wrapper
      .mypagetop__cardshow__wrapper__title
        有効期限
      .mypagetop__cardshow__wrapper__number
        - exp_month = @default_credit_card_information.exp_month.to_s
        - exp_year = @default_credit_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " 月 / " + exp_year + " 年"
    .mypagetop__cardshow__submitArea
      .mypagetop__cardshow__submitArea__edit
        = form_tag(delete_credit_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button 変更する
      .mypagetop__cardshow__submitArea__home
        = link_to root_path do
          %button ホームにもどる
= render 'items/footer'