.center__sidebar
  .sidebar__contents-title
    %li.sidebar__contents-title
      = link_to "#" do
        お知らせ
    %li.sidebar__contents-title
      = link_to "#" do
        いいね一覧
    %li.sidebar__contents-title
      = link_to new_item_path do
        出品する
    %li.sidebar__contents-title
      = link_to "#" do
        下書き一覧
    %li.sidebar__contents-title
      = link_to "#" do
        出品した商品ー出品中
    %li.sidebar__contents-title
      = link_to "#" do
        売却済み
    %li.sidebar__contents-title
      = link_to "#" do
        購入した商品
    %li.sidebar__contents-title
      = link_to "#" do
        評価一覧
    %li.sidebar__contents-title
      = link_to "#" do
        売り上げ
    %li.sidebar__contents-title
      = link_to "#" do
        お問い合わせ
  %h1 設定
  .sidebar__contents-setting
    %li.sidebar__contents-title
      = link_to "#" do
        プロフィール
    %li.sidebar__contents-title
      = link_to "#" do
        発送元・お届け先住所変更
    %li.sidebar__contents-title
      = link_to new_credit_card_path do
        支払い方法
    %li.sidebar__contents-title
      = link_to "#" do
        メール・パスワード
    %li.sidebar__contents-title
      = link_to "#" do
        本人情報
    %li.sidebar__contents-title
      = link_to "#" do
        電話番号の確認
    %li.sidebar__contents-title
      = link_to logout_path, method: :Post do
        ログアウト
