.footerImage
  .footerImage__content
    %h3.footerImage__content__title だれでもかんたん、人生を変えるフリマアプリ
    %h2.footerImage__content__text 今すぐ無料ダウンロード！
    = link_to "#" do
      = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class:"storeIcon"
    = link_to "#" do
      = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class:"storeIcon"
.footer
  %ul.topics
    %li.topic
      %h2.topic__heading FRUIMAについて
      %ul
        %li.topic__list 
          %a{:href => '#'} 会社概要（運営会社）
        %li.topic__list 
          %a{:href => '#'} プライバシーポリシー
        %li.topic__list 
          %a{:href => '#'} FURIMA利用規約
        %li.topic__list 
          %a{:href => '#'} ポイントに関する特約
    %li.topic
      %h2.topic__heading FURIMAを見る
      %ul
        %li.topic__list 
          %a{:href => '#'} カテゴリー一覧
        %li.topic__list 
          %a{:href => '#'} ブランド一覧
    %li.topic
      %h2.topic__heading ヘルプ&ガイド
      %ul
        %li.topic__list 
          %a{:href => '#'} FURIMAガイド
        %li.topic__list  
          %a{:href => '#'} FURIMAロゴ利用ガイドライン
        %li.topic__list  
          %a{:href => '#'} お知らせ
  .footer__companylogo
    = link_to 'root' do
      %img{ src: "/images/logo-white.png", alt: "会社ロゴ" }
  %p © FURIMA 
= link_to '#' do
  .sellingBtn
    = link_to "new_item" do
      出品する
    = image_tag "/images/icon_camera.png", class:"sellingBtn__icon"
    

