.header 
  .header__main-header 
    .header__main-header--icon 
      = link_to root_path do
        %img{ src: "/images/logo.png"}
    .header__main-header--search-box 
      %li.header__main-header--search-box__input 
        %input(type="text" placeholder="キーワードから探す")
      %li.header__main-header--search-box__submit
        %input( type="image" src="/images/icon-search 1.png" )

  .header__lists
    .header__lists--left
      %li.header__lists--left__category
        = link_to categories_path do
          カテゴリー
      %li.header__lists--left__brand
        = link_to "#" do
          ブランド
    -if user_signed_in?
      .header__lists--right
        %li.header__lists--right__mypage
          = link_to user_path(current_user) do
            マイページ
        %li.header__lists--right__logout
          = link_to  destroy_user_session_path, method: :delete do
            ログアウト
    -else
      .header__lists--right
        %li.header__lists--right__login
          = link_to  new_user_session_path do
            ログイン
        %li.header__lists--right__new-create
          = link_to  new_user_registration_path do
            新規会員登録