.header 
  .header__main-header 
    .header__main-header--icon 
      = link_to root_path do  
        %img{ src: "/images/logo.png"}
    .header__main-header--search-box 
      %li.header__main-header--search-box__input 
        %input(type="text" placeholder="キーワードから探す")
      %li.header__main-header--search-box__submit
        %input( type="image" src="/images/icon-search 1.png" )

  .header__lists
    .header__lists--left
      - if @headerCategory != nil
        .categories
          %ul
            %li
              = link_to "#", class: "category__search search__btn" do
                %i.fas.fa-bars.category__icon
                カテゴリーから探す
              %ul.category__parent.category__list
                - @headerCategory.each do |p|  
                  %li 
                    = link_to category_path(p), class: "category__parent--name" do
                      = p.name
                    %ul.category__child.category__list
                      - p.children.each do |c|
                        %li
                          = link_to category_path(c), class: "category__child--name" do
                            = c.name
                          %ul.category__grandchild.category__list
                            - c.children.each do |gc|
                              %li
                                = link_to category_path(gc), class: " category__child--name" do
                                  = gc.name 
      -# - else
      -#   .categories
      -#     %ul
      -#       %li
      -#         = link_to "#", class: "category__search search__btn" do
      -#           %i.fas.fa-bars.category__icon
      -#           カテゴリーから探す
      -#         %ul.category__parent.category__list
      -#           - @parents.each do |p|  
      -#             %li 
      -#               = link_to category_path(p), class: "category__parent--name" do
      -#                 = p.name
      -#               %ul.category__child.category__list
      -#                 - p.children.each do |c|
      -#                   %li
      -#                     = link_to category_path(c), class: "category__child--name" do
      -#                       = c.name
      -#                     %ul.category__grandchild.category__list
      -#                       - c.children.each do |gc|
      -#                         %li
      -#                           = link_to category_path(gc), class: " category__child--name" do
      -#                             = gc.name 
      %li.header__lists--left__brand
        = link_to "#" do
          ブランド
    -if user_signed_in?
      .header__lists--right
        %li.header__lists--right__mypage
          = link_to user_path(current_user) do
            マイページ
        %li.header__lists--right__logout
          = link_to  destroy_user_session_path, method: :delete do
            ログアウト
    -else
      .header__lists--right
        %li.header__lists--right__login
          = link_to  new_user_session_path do
            ログイン
        %li.header__lists--right__new-create
          = link_to  new_user_registration_path do
            新規会員登録