.topInformation
  .topInformation__content
    %h1.topInformation__content__title 人生を変えるフリマアプリ
    %p.topInformation__content__message
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    = link_to "#" do
      = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class:"storeIcon"
    = link_to "#" do
      = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class:"storeIcon"
.introduction
  %h2.introduction__title FURIMAが選ばれる3つの理由
  .introduction__content
    .introduction__content__list
      = image_tag "pict-reason-01.jpg", class:"introduction__content__list__img"
      .introduction__content__list__number 1
      %h3.introduction__content__list__title
        %span ３分
        ですぐに出品
      %p.introduction__content__list__explanation スマホで入力するだけで簡単に出品できる！
    .introduction__content__list
      = image_tag "pict-reason-02.jpg", class:"introduction__content__list__img"
      .introduction__content__list__number 2
      %h3.introduction__content__list__title
        %span シンプル 
        で使いやすい
      %p.introduction__content__list__explanation めんどくさい入力は必要なく、検索も購入もスムーズ！
    .introduction__content__list
      = image_tag "pict-reason-03.jpg", class:"introduction__content__list__img"
      .introduction__content__list__number 3
      %h3.introduction__content__list__title
        %span 手数料 
        業界最安
      %p.introduction__content__list__explanation 最大3%でお得に出品&購入！
.secondInformation
  .secondInformation__content
    %h1.secondInformation__content__title 会員数日本一位
    %p.secondInformation__content__message
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    = link_to "#" do
      = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class:"storeIcon"
    = link_to "#" do
      = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class:"storeIcon"
.feature
  %h2.feature__title FURIMAが選ばれる3つの理由
  .feature__content
    .feature__content__list
      = image_tag "icon-01.png", class:"feature__content__list__img"
      %h3.feature__content__list__title
        簡単に売り買いできる
      %p.feature__content__list__explanation スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .feature__content__list
      = image_tag "icon-03.png", class:"feature__content__list__img"
      %h3.feature__content__list__title
        売上金は即日振込みに対応
      %p.feature__content__list__explanation 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .feature__content__list
      = image_tag "icon-04.png", class:"feature__content__list__img"
      %h3.feature__content__list__title
        様々な支払いに対応
      %p.feature__content__list__explanation お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
.category
  .category__wrapper
    .category__wrapper__title ピックアップカテゴリー
    %a{ href:"#"} 新規投稿商品
    .category__wrapper__box 

  .category__wrapper
    .category__wrapper__title ピックアップブランド
    %a{ href:"#", class:"category__wrapper__subtitle"} アーカイバ
    .category__wrapper__box 