.itemsNewContainer
  .itemsNewContainer__title
    %img.head{ src: "/images/logo.png"}
  .itemsNewContainer__body
    .itemsNewContainer__body__form
      = form_with(model: @item, local: true) do |form|
        .image
          .image__top.titleContainer
            %h1.titleContainer__title 出品画像
            %h2.titleContainer__required 必須
          %p.top_text_details 最大10枚までアップロードできます
         
          = form.fields_for :item_images do |image|
            = image.file_field :image, class: "style_form"
            %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
         
          = form.fields_for :item_images do |image|
            = image.file_field :image, class: "style_form"
            %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード

          -# .style_form
          -#   %br/
          -#   .gazou
          -#     %p.sc-jGxEUC.eErKZK
          -#     ドラッグアンドドロップ
          -#     %br>/
          -#     またはクリックしてファイルをアップロード
        
        .product
          .product__name.titleContainer
            %h1.titleContainer__title 商品名
            %h2.titleContainer__required 必須
          = form.text_field :item_name, class: "texts", placeholder: "40文字まで"
          .product__explanation.titleContainer
            %h1.titleContainer__title 商品の説明
            %h2.titleContainer__required 必須
          = form.text_area :text, class: "product__explanation__text", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", :rows => "7"

        .details
          .details__title
            商品の詳細
          .categories.titleContainer
            %h1.titleContainer__title カテゴリー
            %h2.titleContainer__required 必須
          = form.collection_select :categori_id, @categori_parent_array, :id, :name, { prompt: "---" }, { class: "categori_select-box", id: "categori_select" }
          -# = form.text_field :category_id, class: "texts", placeholder: "選択してください"
          .brand.titleContainer
            %h1.titleContainer__title ブランド
            %h2.titleContainer__required 任意
          = form.text_field :text, class: "texts", placeholder: "例）シャネル"
          .status.titleContainer
            %h1.titleContainer__title 商品の状態
            %h2.titleContainer__required 必須
          = form.collection_select :status_id, Status.all, :id, :name, prompt: '選択してください', class: 'selects'
          .size.titleContainer
            %h1.titleContainer__title 商品のサイズ
            %h2.titleContainer__any 任意
          = form.text_field :size, class: "texts"
        .delivery
          %h1.title 配送について
          .deliveryMethod.titleContainer
            %h1.titleContainer__title 配送方法
            %h2.titleContainer__required 必須
          = form.collection_select :delivery_method_id, DeliveryMethod.all, :id, :name, prompt: '選択してください', class: ''
          .deliveryFee.titleContainer
            %h1.titleContainer__title 配送料の負担
            %h2.titleContainer__required 必須
          = form.collection_select :delivery_fee_id, DeliveryFee.all, :id, :name, prompt: '選択してください', class: ''
          .deliveryArea.titleContainer
            %h1.titleContainer__title 発送元の地域
            %h2.titleContainer__required 必須
          = form.collection_select :delivery_area_id, Prefecture.all, :id, :name, prompt: '選択してください', class: ''
          .estimatedDelivery.titleContainer
            %h1.titleContainer__title 発送までの日数
            %h2.titleContainer__required 必須
          = form.collection_select :estimated_delivery_id, EstimatedDelivery.all, :id, :name, prompt: '選択してください', class: ''

        .body_6
          .dody6_1
            %h1.price 価格　（¥300〜9,999,999）
            .dody6_2
              .body6_3
                %h1.selling_price 販売価格
                %h2.required 必須
              .body6_10
                %span.okane ¥
                = form.number_field :price, class: "selling_price_3", placeholder: "0"                

            %h1.sales_commission 販売手数料 (10%)
        .body_7
          .body7_1
            %h1.sales_profit 販売利益

          .body7_2
            .body7_3
              = form.submit :text, class: "style_button1", value: "送信する"
              = form.submit :text, class: "style_button2", value: "下書きに保存"
              .sakana= link_to "戻る", root_path


          %p.setu
            禁止されている
            %a.setu1{:href => "#", :rel => "#", :target => "_blank"}> 行為
            および
            %a.setu2{:href => "#", :rel => "#", :target => "_blank"}> 出品物
            を必ずご確認ください。
            %a.setu3{:href => "#", :rel => "#", :target => "_blank"}> 偽ブランド品
            や
            %a.setu4{:href => "#", :rel => "#", :target => "_blank"}> 盗品物
            などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
            %a.setu5{:href => "#", :rel => "#", :target => "_blank"}> 加盟店規約
            に同意したことになります。

    .buttonn4  
      .sc-kDhYZr.gwHGkM
      .sc-sPYgB.gbluiW
        %ul.furima
          %li.furima1
            %a.furima1_2{:href => "/jp/privacy/"} プライバシーポリシー
          %li.furima2
            %a.furima2-2{:href => "/jp/tos/"} フリマ利用規約
          %li.furima3
            %a.furima3-3{:href => "/jp/tokutei/"} 特定商取引に関する表記
      %a.furima4{:href => "/jp/"}
        %img.hea{ src: "/images/logo-white.png"}
      %p.furima6 © Furima, Inc.