.itemsNewContainer
  .itemsNewContainer__title
    %img.head{ src: "/images/logo.png"}
  .itemsNewContainer__body 
    = form_with(model: @item, local: true, :builder => FormHelper::FormWithErrorMessageBuilder) do |form|
      .itemsNewContainer__body__form
        .itemsNewContainer__body__upload
        %h3.titleContainer__title 
          出品画像
          %span.titleContainer__required 必須
        %p.top_text_details 最大5枚までアップロードできます
        .new_item_page_container_main_carrierwave_image 
          .prepend_area
            .pre-content
              = form.label :image, for: "js-file" do
                %p.text 
                  クリックをしてアップロード
                .form-file   
                  .new_item_page_container_main_label{"data-index" => "0"}
                    =form.fields_for :item_image do |i|
                      = i.file_field :src, class: 'js-file', id: 'js-file', data:{ index: 0 }, name: "item[item_images_attributes][0][src]"
        .product
          .product__name.titleContainer
            %h1.titleContainer__title 商品名
            %h2.titleContainer__required 必須
          = form.text_field :item_name, class: "texts", placeholder: "40文字まで"
        .details
          .details__title
            商品の詳細
          .categories.titleContainer
            %h1.titleContainer__title カテゴリー
            %h2.titleContainer__required 必須
          .newcate2
          = form.collection_select :category_id, Category.where(ancestry: nil), :id, :name, prompt: "---", class: ''
          .newcate
          .brand.titleContainer
            %h1.titleContainer__title ブランド
            %h2.titleContainer__any 任意
          = form.fields_for :brand do |b|
            = b.text_field :name, class: "texts"
          .status.titleContainer
            %h1.titleContainer__title 商品の状態
            %h2.titleContainer__required 必須
          = form.collection_select :status_id, Status.all, :id, :name, prompt: '選択してください', class: 'selects'
          .size.titleContainer
            %h1.titleContainer__title 商品のサイズ
            %h2.titleContainer__any 任意
          = form.text_field :size, class: "texts"
        .delivery
          %h1.title 配送について
          .deliveryMethod.titleContainer
            %h1.titleContainer__title 配送方法
            %h2.titleContainer__required 必須
          = form.collection_select :delivery_method_id, DeliveryMethod.all, :id, :name, prompt: '選択してください', class: ''
          .deliveryFee.titleContainer
            %h1.titleContainer__title 配送料の負担
            %h2.titleContainer__required 必須
          = form.collection_select :delivery_fee_id, DeliveryFee.all, :id, :name, prompt: '選択してください', class: ''
          .deliveryArea.titleContainer
            %h1.titleContainer__title 発送元の地域
            %h2.titleContainer__required 必須
          = form.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: '選択してください', class: ''
          .estimatedDelivery.titleContainer
            %h1.titleContainer__title 発送までの日数
            %h2.titleContainer__required 必須
          = form.collection_select :estimated_delivery_id, EstimatedDelivery.all, :id, :name, prompt: '選択してください', class: ''
        .price
          .price__container
            %h2 価格　（¥300〜9,999,999）
            .price__container__selling
              .sellingContainer
                %h3.sellingContainer__price 販売価格
                %h4.titleContainer__required 必須
              .feeContainer
                %span ¥
                = form.number_field :price, class: "feeContainer__form", placeholder: "0"                
            %h2 販売手数料 (10%)
            %h1.sales_profit 販売利益
        .submitArea
          .submitArea__container
            = form.submit "送信する", class: "submitArea__container__button"
            = link_to "#" , class:"submitArea__container__root" do
              戻る
          .explanation
            禁止されている
            = link_to "#" do
              行為
            および
            = link_to "#" do
              出品物
            を必ずご確認ください。
            = link_to "#" do
              偽ブランド品
            や
            = link_to "#" do
              盗品物
            などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
            = link_to "#" do
              加盟店規約
            に同意したことになります。
    .terms  
      %ul
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            フリマ利用規約
        %li
          = link_to "#" do
            特定商取引に関する表記
      %p © Furima, Inc.
