-# = render 'header'
.purchaseScreen
  .first
    .purchaseScreen__item
      = image_tag "/images/logo.png", class:"headder-logo"

    .second
      %h1.buy-content__attention
        .y
          %i.far.fa-clock
            発送をお待ちください
        %h2.buy-content__attention__title
          購入が完了しました
        .tt  
          .buy-content__item
            .buy-content__item__inner
              .buy-item-main
                .buy-item-image
                  = image_tag @item.item_images[0].src.url
                .buy-item-detail
                  .buy-item-namo
                    = @item.item_name
                    %p.buy-price
                      %span 
                        = "¥#{@item.price.to_s}"
                      %span
                        .shipping-free (税込) 送料込み
          .buy-content__iteo
            %form.buy-form
              .buy-price-table
                .buy-price-table__left
                  支払金額
                .buy-price-table__right
                  = "¥#{@item.price.to_s}"
          .buy-content__user-info__submit
            .buy-content__user-info__submit_btn
              = link_to "トップページへ戻る", root_path, class: 'buy-content__user-info__submit__button'
= render 'footer'
