= render 'items/header'

.itemsShow
  .itemsShow__container
    -if @item.buyer_id.present?
      .soldOutContainer
      .soldOutComment
        SOLD
    .ProductName
      = @item.item_name
    .ProductInformation
      .ProductImages
        - @item.item_images.each_with_index do |image,i|
          %div{class: "ProductImages__#{++i}"}
            = image_tag image.src.url 
      .ProductImages-nav
        - @item.item_images.each_with_index do |image,i|
          %div{class: "ProductImages__#{++i}"}
            = image_tag image.src.url      
        .ProductImages__subContainer
      .ProductSelections
        %table.ProductSelections__lists
          %tr
            %th 出品者
            %td 
              = @item.user.nickname
          %tr
            %th カテゴリー
            %td 
              -if @item.category.parent.parent.name.present?
                = link_to "#", class: 'ProductSelections__lists__category' do
                  #{@item.category.parent.parent.name}
                %br
              -if @item.category.parent.name.present?
                = link_to "#", class: 'ProductSelections__lists__category' do
                  %i.fas.fa-chevron-right
                  #{@item.category.parent.name}
                %br
              -if @item.category.name.present?
                = link_to "#", class: 'ProductSelections__lists__category' do
                  %i.fas.fa-chevron-right
                  #{@item.category.name}
          %tr
            %th ブランド
            %td 
              = @item.brand.name
          %tr
            %th 商品の状態
            %td 
              = @item.status.name
          %tr
            %th 配送料の負担
            %td 
              = @item.delivery_fee.name
          %tr
            %th 配送の方法
            %td 
              = @item.delivery_method.name
          %tr
            %th 配送元地域
            %td 
              = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @item.estimated_delivery.name
    .PriceContainer
      .ProductPrice
        = @item.price
      .ProductTax
        (税込)送料込み
    -if user_signed_in? && @item.buyer_id == nil && @item.user_id != current_user.id
      .itemsShow__container__clickBox
        .likesCount
          ❤️いいね!!
        = link_to "#", class: "inappropriateReport" do
          不適切な商品の報告
        = link_to "#", class: "initiative" do
          あんしん・あんぜんへの取り組み

- if user_signed_in? && current_user.id == @item.user_id
  .moreList
    .moreList__container
      = link_to '編集', edit_item_path(@item.id), method: :get, class: "itemsShowBtn furimaBtn"
      = link_to '削除', "/items/#{@item.id}", method: :delete, class: "itemsShowBtn"
      
= render 'items/footer'