= render 'items/header'

.categoryShow
  .categoryShow__root
    -if @category.ancestry.nil?
    -elsif @category.parent.parent != nil
      = link_to category_path(@category.parent.parent.id), class:"categoryContainer__list" do
        = @category.parent.parent.name
      　>　
    -else
    -if @category.parent.present?
      = link_to category_path(@category.parent.id), class:"categoryContainer__list" do
        = @category.parent.name
        　>　
      = @category.name
  .categoryShow__title
    #{@category.name}の商品一覧
  - @items.each do |c|
    .categoryShowContainer
      = link_to item_path(c.id)  do
        = image_tag c.item_images[0].src.url, class:"categoryShowContainer__image"
        -if c.buyer_id.present?
          .soldOutContainer
          .soldOutComment
            SOLD
        .categoryShowContainer__details
          .details__left
            .details__left__name
              = c.item_name
            .details__left__price
              = c.price
            .details__left__tax
              （税込）
          .details__right
            ★ ０
= render 'items/footer'